@import 'variables';
@import 'mixins';

body {
  color: #333;
  .transitionEase(background 1s);
}

a {
  .transitionEase(all 0.2s);
  color: #333;
  text-decoration: none !important;

  &:hover {
    color: rgba(0,0,0,0.7);
  }
}

.center {
  text-align: center;
}

code.full {
  display: block;
  padding: 8px 4px;
  width: 100%;
  overflow-x: scroll;
}

.browser-warning {
  background: #BD3535;
  color: #333;
  padding: 0.5em 0;
  text-align: center;

   a {
    color: #333;
    text-decoration: underline;
  }
}

header {
  padding-top: 20px;

  a {
    color: #333;
    font-size: 20px;
    text-decoration: none !important;
    @media (max-width: 480px) {
      font-size: 1em;
    }

    &:hover {
      color: rgba(0,0,0,0.7);
    }
  }

  nav {
    float: right;

    ul {

      li {
        display: inline;

        a {
          margin-right: 20px;
          @media (max-width: 480px) {
            font-size: 1em;
          }

          i {
            font-size: 30px;
            @media (max-width: 480px) {
              font-size: 1.5em;
            }
          }
        }
      }
    }
  }

  .login {
    float: right;
    margin-top: 9px;
    @media (max-width: 480px) {
      margin-top: 3px;
    }
  }

  .logo {
    font-size: 30px;
    font-weight: 600;
  }
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  height: 25px;
  box-shadow: none;
  -webkit-appearance: none;

  &:focus, &:active {
    outline: none;
    box-shadow: none;
  }
}

.home {
  h1 {
    text-align: center;
    font-size: 100px;
    margin-top: 20px;
    line-height: 100px;
  }

  p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
  }

  p.subhead {
    text-align: center;
    font-size: 28px;
  }

  .search {
    text-align: center;
    #query {
        margin-top: 40px;
    }
  }

  .container {
    position: relative;
  }
}

#app-store {
  margin: auto;
  position: relative;
  width: 152px;

  a {
    .transitionEase(top 1s);
    position: absolute;
    top: -1000px;
    left: 200px;
    width: 100%;
    .rotate(10deg);
  }
}

.api {
  margin-bottom: 100px;
}

.table.apis tr td:last-child {
  width: 40%;
}

table.sub td {
  border: none;
  padding: 0 8px 2px 0;
}

ul.list {
  list-style: none;
  margin: 20px auto 120px;
  li {
    clear: both;
    line-height: 30px;
    padding: 1.5%;
    overflow: hidden;
    p {
      font-size: 24px;
      line-height: 32px;
      font-weight: 400;
      margin: 0;
    }
    p.text {
      float: left;
      width: 45%;
    }
    p.listName, p.whenAdded {
      float: right;
      text-align: right;
      width: 45%;
    }
    p.whenAdded {
      opacity: 0.5;
      font-size: 100%;
      clear: right;
    }
    p.score {
      width: 3%;
      text-align: center;
      margin-right: 1%;
      float: left;
    }
    p.actions {
      width: 2%;
      text-align: center;
      font-size: 16px;
      line-height: 20px;
      margin-right: 1%;
      margin-top: -4px;
      float: left;
      a.delete {
        font-size: 24px;
        line-height: 40px;
      }
    }
    p.addedBy {
      float: right;
      text-align: right;
      font-size: 18px;
      width: 33%;
    }
    &:nth-child(2n+0) {
      background: rgba(0,0,0,0.2);
    }
  }
}


h3.share-list {
    text-align: center;
  }

.new-list {
  text-align: center;
}

.list {

  h2 {
    text-align: center;
    padding: 40px;
    margin: 50px auto;
  }

  ul.list {
    margin-left: 0px;
    margin-bottom: 50px;
    li {
      font-size: 20px;
      line-height: 32px;
      font-weight: 400;
      list-style: none;
      a {
        &:hover {
          text-decoration: none;
          opacity: 0.7;
        }
      }
      a.voted i {
        color: rgba(0,0,0,0.8) !important;
      }

      a.vote:hover {
        opacity: 1 !important;
        i {
          color: rgba(0,0,0,0.8);
        }
      }
      a.user-link {
        color: rgba(0,0,0,0.4);
      }
      span {
        font-size: 70%;
        color: rgba(0,0,0,0.4);
      }
    }
  }

  form.add-item {
    padding: 15px;
    background: rgba(0,0,0,0.15);
    p {
      text-align: center;
      font-size: 24px;
      line-height: 32px;
      font-weight: 400;
    }
    input {
      margin-bottom: 10px;
    }
    textarea {
      height: 60px;
      margin-bottom: 10px;
    }
    button {
      line-height: 20px;
      margin-left: 0px;
      float: right;
      @media (max-width: 480px) {
        float: none;
      }
    }
  }
}


div.share {
  text-align: center;
  margin: 40px 0;
  a {
    background: rgba(0,0,0,0.15);
  }
  a:hover {
    background: rgba(0,0,0, 0.3);
  }
  .btn-group {
    border: 0px;
    display: block;
  }
  .btn {
    border: 0px;
    line-height: 30px;
    font-size: 22px;
    width: 30px;
    color: rgba(255, 255, 255, 0.5);
  }
  .btn-group > .btn + .btn {
    margin-left: 0px;
  }
}

.home-list {
  font-size: 20px;
  li {
    padding: 5px;
  }
}

.upvote i, .downvote i {
  cursor: pointer;
}

footer {
  .navbar {
    padding: 10px 0;
    background-color: rgba(255,255,255,1.0);
  }

  ul {
    margin: 0;
    padding: 0;
    float: right;

    li {
      list-style: none;
      display: inline;
      padding-left: 20px;
      font-size: 16px;

      a {
        font-weight: 400;
        border-bottom: none;
        text-decoration: none;
        @media (max-width: 480px) {
          font-size: 0.8em;
        }
      }

      img {
        width: 18px;
        margin-top: -5px;
        margin-left: 3px;
      }
    }
  }

  input {
    padding: 3px;
    background: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.3);
    border: none;
    width: 60px;
    text-align: center;
  }
  input:hover, input:focus {
    background: rgba(0,0,0,0.3);
    color: rgba(255,255,255,0.9);
  }
}

.muted {
  color: rgba(0,0,0,0.3);
}

.newList {
  padding-top: 60px;
  input[type='text'] {
    margin: 0 10px;
  }
  button {
    margin: 0 10px;
  }
}

.open-list-message {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  padding: 30px;
  background: rgba(0,0,0,0.5);
}

.add-first-list {
  a {
    display: block;
    padding: 60px;
    background: rgba(0,0,0,0.3);
    font-size: 300%;
    text-align: center;
    margin: 80px 0 10px;
  }
  p {
    text-align: center;
    width: 100%;
  }
}
