body {
  background: #45C4A5;
  color: #fff;
}

a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header {
  padding-top: 20px;

  a {
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    text-decoration: none !important;

    &:hover {
      color: rgba(255,255,255,0.7)
    }
  }

  nav {
    float: right;

    ul {

      li {
        display: inline-block;

        a {
          margin-right: 20px;

          i {
            font-size: 30px;
          }
        }
      }
    }
  }

  .login {
    float: right;
    margin-top: 3px;
  }
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  height: 25px;
  box-shadow: none;
  -webkit-appearance: none;

  &:focus, &:active {
    outline: none;
    box-shadow: none;
  }
}

.home {
  h1 {
    text-align: center;
    font-size: 100px;
    margin-top: 200px;
    line-height: 100px;
  }

  p {
    text-align: center;
    font-size: 28px;
    font-weight: 100;
    margin-top: 20px;
  }
}

.new-list {
  text-align: center;
}

.view-lists {

  h1 {
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    padding-bottom: 30px;
    margin-bottom: 0px;
  }

  ul.my-lists  {
    margin-left: 0px;
    margin-bottom: 50px;
    text-align: center;
    
    li {
      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 15px 0;
      list-style: none;
      border-bottom: 1px dashed rgba(255,255,255,0.4);

      a {
        color: #216A7C;

        &:hover {
          color: #216A7C;
          text-decoration: none;
          opacity: 0.7;
        }
      }
    }
  }
}
